<div class="relative pt-[56.25%]">
    <iframe src="https://iframe.mediadelivery.net/embed/367279/eaa316cf-5e6b-4dd4-8159-07a153e9b45a?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="eager" class="border-0 absolute top-0 h-full w-full" allow="accelerometer;gyroscope;autoplay;encrypted-media;" allowfullscreen="true"></iframe>
</div>