<div class="relative pt-[56.25%]">
    <iframe src="https://iframe.mediadelivery.net/embed/367279/56a2bad8-f46d-4cfe-ba5d-db3c2fa7df69?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="eager" class="border-0 absolute top-0 h-full w-full" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
</div>