<div class="relative pt-[56.25%]">
    <iframe src="https://iframe.mediadelivery.net/embed/367279/5e1f6005-dad5-404e-9338-dcfa97811c83?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="eager" class="border-0 absolute top-0 h-full w-full" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
</div>