<div class="relative pt-[56.25%]">
    <iframe src="https://iframe.mediadelivery.net/embed/323787/900dd7ed-2bf2-4a55-9fc6-30a2b84fb9bc?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="eager" class="border-0 absolute top-0 h-full w-full" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
</div>