<div class="relative pt-[56.25%]">
    <iframe src="https://iframe.mediadelivery.net/embed/367279/4c0b4b50-33ab-484f-9dcf-bfb095cb382e?autoplay=true&loop=true&muted=true&preload=true&responsive=true" loading="eager" class="border-0 absolute top-0 h-full w-full" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe>
</div>