---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";

const { contact_form_action }: { contact_form_action: string } = config.params;
---

<Base
  title="Contact Us"
  meta_title="Contact Us"
  description="Contact us for any questions or concerns you may have."
  image=""
>
  <PageHeader title="Contact Us" />

  <section class="pt-12 xl:pt-24">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="p-10 bg-theme-light dark:bg-darkmode-theme-light rounded-md text-center">
          <p class="mb-6 h3 font-medium text-dark dark:text-darkmode-dark">
            Email
          </p>
          <p>
            <a href="mailto:#">support@marzellusco.com</a>        
          </p>
        </div>
        <div class="p-10 bg-theme-light dark:bg-darkmode-theme-light rounded-md text-center">
          <p class="mb-6 h3 font-medium text-dark dark:text-darkmode-dark">
            Phone
          </p>
          <p>
            <a href="tel:+15555555555">123-456-7890</a>        
          </p>
        </div>
        <div class="p-10 bg-theme-light dark:bg-darkmode-theme-light rounded-md text-center">
          <p class="mb-6 h3 font-medium text-dark dark:text-darkmode-dark">
            Address
          </p>
          <p>
            123 Street Name <br/>Austin, TX 78701        
          </p>
        </div>
        <div class="p-10 bg-theme-light dark:bg-darkmode-theme-light rounded-md text-center">
          <p class="mb-6 h3 font-medium text-dark dark:text-darkmode-dark">
            Hours of Operation
          </p>
          <p>
            Monday - Friday: 9am - 5pm <br/>Saturday - Sunday: Closed        
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="mx-auto lg:col-10">
        <h2 class="mb-14 text-center">We would love to hear from you!</h2>

        <form
          class="border border-border dark:border-darkmode-border rounded-md p-10"
          action={contact_form_action}
          method="POST"
        >
          <div class="mb-6 md:grid grid-cols-2 gap-x-8 max-md:space-y-6">
            <div>
              <label for="firstname" class="form-label">
                First Name <span class="text-red-500">*</span>
              </label>
              <input
                id="firstname"
                name="firstname"
                class="form-input"
                type="text"
                required
              />
            </div>

            <div>
              <label for="lastname" class="form-label"> Last Name <span class="text-red-500">*</span></label>
              <input
                id="lastname"
                name="lastname"
                class="form-input"
                type="text"
                required
              />
            </div>
          </div>

          <div class="mb-6 md:grid grid-cols-2 gap-x-8 max-md:space-y-6">
            <div>
              <label for="email" class="form-label">
                Email Address <span class="text-red-500">*</span>
              </label>
              <input
                id="email"
                name="email"
                class="form-input"
                type="email"
                required
              />
            </div>

            <div>
              <label for="order" class="form-label">
                Order Number
              </label>
              <input
                id="order"
                name="order"
                class="form-input"
                type="text"
              />
            </div>
          </div>

          <div class="mb-6">
            <label for="message" class="form-label">
              Message <span class="text-red-500">*</span>
            </label>
            <textarea
              id="message"
              name="message"
              class="form-input"
              placeholder="Enter additional info here."
              rows={8}
              required></textarea>
          </div>

          <div class="flex justify-end">
            <button type="submit" class="btn btn-primary">
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</Base>
