---
export const prerender = false;

import { getEntry } from "astro:content";
import FeaturedProducts from "@/components/FeaturedProducts.astro";
import config from "@/config/config.json";
import CollectionsGrid from "@/functional-components/CollectionsGrid";
import Base from "@/layouts/Base.astro";
import { getCollectionProducts, getCollections } from "@/lib/shopify";
import CallToAction from "@/partials/CallToAction.astro";
import SlideShow from "@/functional-components/SlideShow";
import VideoHero from "@/components/VideoHero.astro";


const { collections } = config.shopify;
const collectionProducts = await getCollections();
const sliderData = await getEntry("sections", "slideshow");
const { slides } = sliderData.data;

// Fetch featured products
const { products: featuredProducts } = await getCollectionProducts({
  collection: collections.featured_products,
  reverse: false,
});
---

<Base isHomePage={true}>
  <!-- Video Hero section -->
  <section class="grid grid-cols-1 grid-rows-1 items-center gap-4">
    <div class="row-start-1 col-start-1 animate-fade-in">
      <VideoHero />
    </div>
  </section>

  <!-- Category section -->
  <section class="section">
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h1>Collections</h1>
      </div>
      <CollectionsGrid client:load collections={collectionProducts} />
    </div>
  </section>

  <!-- Slide Show section -->
  <section>
    <div class="container">
      <div class="bg-theme-light dark:bg-darkmode-theme-light py-10 mb-6 md:mb-14 rounded-md">
        <SlideShow client:load slides={slides} />
      </div>
    </div>
  </section>
  
  <!-- Featured Products section -->
  <section>
    <div class="container">
      <div class="text-center mb-6 md:mb-14">
        <h2 class="mb-2">Featured Products</h2>
        <p class="md:h5">Explore Today's Featured Picks!</p>
      </div>
      <FeaturedProducts products={featuredProducts} />
    </div>
  </section>

  <CallToAction />
</Base>
